# OS X
.DS_Store

# Xcode

## Build generated
build/
DerivedData
.build/
docs/
docc/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata

## Other
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa

# CocoaPods
Example/Pods/*
!Example/Pods/SwiftLint

# Carthage
Carthage

# SPM
.swiftpm
Package.resolved
